<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="Allure report features" verbose="1" >
    <test name="Simple test">
        <classes>
            <class name="io.klvl.SimpleTest"/>
        </classes>
    </test>
    <test name="Broken test">
        <classes>
            <class name="io.klvl.BrokenTest"/>
        </classes>
    </test>
    <test name="Skipped test">
        <classes>
            <class name="io.klvl.SkippedTest"/>
        </classes>
    </test>
    <test name="Descriptive names">
        <packages>
            <package name="io.klvl.descriptive"/>
            <package name="io.klvl.descriptive.breakdown"/>
            <package name="io.klvl.descriptive.breakdown.authorization"/>
        </packages>
    </test>
    <test name="Additional test information">
        <packages>
            <package name="io.klvl.annotations"/>
        </packages>
    </test>
    <test name="Allure lifecycle">
        <packages>
            <package name="io.klvl.allurelifecycle"/>
        </packages>
    </test>
    <test name="Additional report information">
        <packages>
            <package name="io.klvl.reportinfo"/>
        </packages>
    </test>
</suite>